

/**
 * COLORS
 */

$accent: #18a3dd;
$purple: #0f0816;
$gray_dark: #333740;
$gray:  #666666;
$gray_light: #8d9198;
$light: #ebebeb;
$white: #ffffff;


/**
 * SEMANTIC NAMES
 */

$clr-title: $gray_dark;
$clr-title_light: $gray_dark;
$clr-subtitle: $gray_light;
$clr-text: $gray;

